<h1>Article_list</h1>

<%= link_to 'New Article', :action => 'article_new'%>
<table border="1">
   <tr>
      <th>id</th>
      <th>Nombre</th>
    
   </tr>
<% for article in @articles %>
 <tr>
     <td><%= article.id %></td>
     <td><%= article.name %></td>
    
 <td><%= link_to 'Edit', :action => 'article_edit', :id => article.id%></td>
     <td><%=link_to 'Destroy',{:action => 'article_destroy', :id => article.id},  :confirm => 'Are you sure?'%></td>

 </tr>
<% end %>

</table> 