<h1>Make: <%= @make.name%></h1>

<%= link_to 'New Model', :action => 'model_new', :make => @make%>
<table border="1">
   <tr>
      <th>id</th>
      <th>name</th>   
   </tr>

<% for model in @make.models%>
<tr>
<td><%=model.id%></td>
<td><%=model.name%></td>
<td><%= link_to 'Edit', :action => 'model_edit', :id => model.id%></td>
<td><%=link_to 'Destroy',{:action => 'model_destroy', :id => model.id},  :confirm => 'Are you sure?'%></td>
<tr>
<%end%>

</table>