<h1>Make_list</h1>

<%= link_to 'New Make', :action => 'make_new'%>
<table border="1">
   <tr>
      <th>id</th>
      <th>Nombre</th>
    
   </tr>
<% for make in @makes %>
 <tr>
     <td><%= make.id %></td>
     <td><%= make.name %></td>
     <td><%= link_to 'View', :action => 'make_view', :id => make.id %>
     <td><%= link_to 'Edit', :action => 'make_edit', :id => make.id%></td>
     <td><%=link_to 'Destroy',{:action => 'make_destroy', :id => make.id},  :confirm => 'Are you sure?'%></td>

 </tr>
<% end %>

</table> 