<h1>Store_list</h1>

<%= link_to 'New Store', :action => 'store_new'%>
<table border="1">
   <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Direcci&oacute;n</th>
   </tr>
<% for store in @stores %>
 <tr>
     <td><%= store.id %></td>
     <td><%= store.name %></td>
     <td><%= store.address %></td>
<td><%= link_to 'View', :action => 'store_view', :id => store.id%></td>
     <td><%= link_to 'Edit', :action => 'store_edit', :id => store.id%></td>
     <td><%=link_to 'Destroy',{:action => 'store_destroy', :id => store.id},  :confirm => 'Are you sure?'%></td>

 </tr>
<% end %>

</table>