<!DOCTYPE html>
<html>
<head>
  <title>Yonke</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=  link_to 'store_list', :action => 'store_list'%> -
<%=  link_to 'make_list', :action => 'make_list'%> -
<%=  link_to 'article_list', :action => 'article_list'%>
<%= yield %>

</body>
</html>
